<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="cacheEnabled" value="false"/><!-- 只会影响二级缓存 -->
    </settings>
    <typeAliases>
        <package name="com.inf.sys.*.model"/>
    </typeAliases>

     <!--   <plugins> 
        <plugin interceptor="com.google.code.shardbatis.plugin.ShardPlugin"> 
                <property name="shardingConfig" value="shard_config.xml" /> 
        </plugin> 
        </plugins> -->
        
        <plugins>
		<!-- 为mybatis定义了一个拦截器做分页操作 -->
		<plugin interceptor="com.inf.system.utiles.page.PagePlugin">
			<property name="dialect" value="mysql" />
			<property name="pageSqlId" value=".*ListPage.*" />
		</plugin>
	</plugins>
	
</configuration>
